@if (helmchartRelease.manifest) {
<div>
  <e-expandable-table [data]="helmchartRelease.manifest" [columns]="columns" [cellDefs]="cellDefs"
    [expandedDetailContent]="customDetailTemplate" (currentRowChanged)="handleRowChange($event)">
  </e-expandable-table>

  <ng-template #customDetailTemplate let-rowData>
    <div class="element-description" *ngIf="rowData">
      <div>
        <e-editor *ngIf="rowData" [inputText]="rowData | yaml" [mode]="'yaml'" [isReadOnly]="true"
          height="32rem"></e-editor>
      </div>
    </div>
  </ng-template>
</div>
} @else if (!helmchartRelease.manifest) {
<div class="spinner" style="height: 50vh;">
  <mat-spinner></mat-spinner>
</div>
}